@import '../abstracts/variables';
@import '../abstracts/colors';

// - - - - - buttons - - - - - -
#btnLogin,
#btnSignup,
#btnSignupAsAdmin,
#btnSignupAsStudent,
#btnSignupConfirm,
#btnPasswordReset {
    margin-top: $small-top-margin;
    border: 1px solid rgba(250, 250, 250, 0);
    min-width: 220px !important;
    height: 40px !important;
    border-radius: $main-border-radius;
    box-shadow: none !important;
    line-height: 40px;
}

#btnSignupConfirm {
    max-width: 220px !important;
    line-height: 0;
}

#btnLogin,
#btnSignupAsStudent,
#btnSignupConfirm,
#btnPasswordForgotten,
#btnPasswordReset {
    background-color: $color-lightblue !important;
    border: 1px solid $color-lightblue !important;
    border-radius: $main-border-radius;
    box-shadow: none !important;
}

#btnLogin:hover,
#btnSignupAsAdmin:hover,
#btnSignupAsStudent:hover,
#btnSignupConfirm:hover,
#btnPasswordReset:hover
{
    background-color: $color-none !important;
    color: $color-lightblue;
    border: 1px solid $color-lightblue !important;
}

#btnSignup,
#btnSignupAsAdmin {
    background-color: $color-none !important;
    border: 0.5px solid $color-none !important;
    transition: 0.2s ease-in-out !important;
}

#btnSignup:hover {
    background-color: $color-none !important;
    border: 0.5px solid $color-white !important;
    transition: 0.2s ease-in-out !important;
}

#btnPasswordForgotten {
    background-color: $color-none !important;
    color: $color-lightblue;
    text-decoration: underline;
    border: none !important;
}

#btnPasswordForgotten:hover {
    color: $color-lightblue;
}

.btnLogout {
    background-color: rgba(245, 245, 245, 0) !important;
    border: 0.5px solid #FB1C4E !important;
    color: #FB1C4E;
    font-size: 70% !important;
    padding: 5px 15px !important;
    border-radius: 20px !important;
    transition: 0.2s ease-in-out !important;
    font-weight: 900;
}

.btnLogout:hover {
    background-color: $color-pink !important;
    border: 1px solid $color-pink !important;
    cursor: pointer;
    color: $color-white;
    transition: 0.2s ease-in-out !important;
}

#add-room-submit {
    margin-top: 30px !important;
    padding: 10px 30px !important;
    border: 1px solid $color-black !important;
    // width: 50% !important;
    border-radius: $main-border-radius;
    background-color: $color-darkblue;
}

#add-room-submit:hover {
    background-color: $color-black !important;
    color: $color-white !important;
    cursor: pointer;
}

