@import '../abstracts/variables';
@import '../abstracts/colors';


// - - - - - - footer - - - - - - 
.footer {
    @include flex-column;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: $color-lighter-grey;
    border-radius:10px 10px 0px 0px;
    box-shadow: 0px 0px 20px #cacaca;
    z-index: 10;
}

.footer-links {
    @include flex-row;
    justify-content: space-between;
    padding: 10px 0px;
    width: 85%;  
}

.footer-links a {
    z-index: 30;
}

.first-image {
    background-image: url('../../../src/images/favoritesFull.svg');
}

.first-image-admin {
    background-image: url('../../../src/images/adminRooms.svg');  
}

.second-image {
    background-image: url('../../../src/images/homeFull.svg');
}

.third-image {
    background-image: url('../../../src/images/messagesFull.svg');
}

.nav-icons-bottom {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    display: block;
    width: 20px;
    height: 20px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    white-space:nowrap;
    box-sizing: border-box;
}
