<!DOCTYPE html>
<html lang="nl-be" dir="ltr" prefix="og:http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8"> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Ciao</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100|Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAz4TrKN7zJKT_FzsWYNZEWMZQJfEYhGZY"></script>
    <meta name="description" content="We educate future talents in Design for Print and Non-Print, Web- and App Development, Audio and Video Production, 2D- 3D Animations, Printing and Packaging and the whole Management of those Workflows.">
    <meta name="description" content="HTML5, CSS3, JavaScript, Sass, Handlebars, Navigo, Webpack, Babel">
    <meta name="author" content="Artevelde University College Ghent - Bachelor in the Graphical and Digital Media | New Media Development">
    <meta name="copyright" content="Copyright 2010-18 Artevelde University College Ghent. All Rights Reserved.">
    <meta property="og:type" content="website">
    <meta property="og:title" content=">Mobile Development I | New Media Development | Artevelde University College Ghent">
    <meta property="og:description" content="We educate future talents in Design for Print and Non-Print, Web- and App Development, Audio and Video Production, 2D- 3D Animations, Printing and Packaging and the whole Management of those Workflows.">
    <meta property="og:url" content="http://www.gdm.gent/">
    <meta property="og:site_name" content="Mobile Development I">
   </head>
  <body>
    <div id="app">
    </div>

  </body>
</html>