<!-- - - - - - - - - - - - - - - List view page - - - - - - - - - - - - - - -->
<div class="wrapper-2" id="screenListView">
{{> header }}
    <div class="content-lv">
        <div class="just-a-box-lv">
            <h2>Mijn koten</h2>
            <div class="info-list">
                <div class="info-list-img">
                    <img src="src/images/kot-3.jpg" class="room-picture-list" alt="">
                </div>
                <div class="info-list-text">
                    <h5 class="card-room-type-lv">Studio</h5>
                    <h6 class="card-address-lv">Vlaanderenstraat 21, 9000 Gent</h6>
                    <p class="card-surface-lv">23 m2</p>
                    <p class="card-price-lv">520 €</p>
                </div>
            </div>
        </div>
    </div>
{{> footer-admin }}
</div> 