<!-- - - - - - - - - - - - - - - Home page - - - - - - - - - - - - - - -->
{{> header }}
    <div class="content">
        <form class="just-a-box-2">
            <h2>Nieuw kot toevoegen</h2>
            <input class="add-room-input" type="text" placeholder="Huurprijs" id="rentalPrice">
            <input class="add-room-input" type="text" placeholder="Waarborg" id="warrant">
            <select class="add-room-input" id="roomType">
                <option value="Type">Type</option>
                <option value="Kamer">Kamer</option>
                <option value="Studio">Studio</option>
                <option value="Appartement">Appartement</option>
            </select>
            <input class="add-room-input" type="text" placeholder="Oppervlakte" id="surface">
            <select class="add-room-input" placeholder="Aantal personen" id="numberOfPersons">
                <option value="Aantal personen">Aantal personen</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <select class="add-room-input" placeholder="Aantal personen" id="floors">
                <option value="Aantal personen">Aantal verdiepingen</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <select class="add-room-input" placeholder="Toilet" id="toilet">
                <option value="Toilet">Toilet</option>
                <option value="Privé">Privé</option>
                <option value="Gedeeld">Gedeeld</option>
                <option value="Niet aanwezig">Niet aanwezig</option>
            </select>
            <select class="add-room-input" placeholder="Douche" id="douche">
                <option value="Douche">Douche</option>
                <option value="Privé">Privé</option>
                <option value="Gedeeld">Gedeeld</option>
                <option value="Niet aanwezig">Niet aanwezig</option>
            </select>
            <select class="add-room-input" placeholder="Bath" id="bath">
                <option value="Douche">Bath</option>
                <option value="Privé">Privé</option>
                <option value="Gedeeld">Gedeeld</option>
                <option value="Niet aanwezig">Niet aanwezig</option>
            </select>
            <select class="add-room-input" placeholder="Keuken" id="kitchen">
                <option value="Keuken">Keuken</option>
                <option value="Privé">Privé</option>
                <option value="Gedeeld">Gedeeld</option>
                <option value="Niet aanwezig">Niet aanwezig</option>
            </select>
            <select class="add-room-input" placeholder="Bemeubeld" id="furnished">
                <option value="Bemeubeld">Bemeubeld</option>
                <option value="Ja">Ja</option>
                <option value="Neen">Neen</option>
            </select>
            <input class="add-room-input" type="text" placeholder="Adres" id="address">
            <input type="submit" id="addRoomSubmit" value="Kot plaatsen">
        </form>
    </div>
{{> footer }}


