<div class="wrapper-2 div-check" id="screenMessages">
{{> header }}
    <div class="content-lv">
        <div class="just-a-box-lv extra-box-margin">
            <h2 class="messages-page-title">Berichten</h2>
            {{#each messageList }}
                <div class="messages-list">
                    <div class="messages-list-text">
                        <h5 class="message-person">{{ this.sender }}</h5>
                        <p class="message-content">{{ this.content }}</p>
                        <p class="message-timestamp">{{ this.date }}</p>
                    </div>
                </div>
                {{else}}
                    <p style="text-align:center">Nog geen berichten om weer te geven</p>
            {{/each}}
        </div>
    </div>
{{> footer-admin }}
</div>