<!-- - - - - - - - - - - - - - - Home page - - - - - - - - - - - - - - -->
{{> header }}
    <div class="content">
        <div class="just-a-box-2">
            <h2>Nieuw kot toevoegen</h2>
            <input class="add-room-input" type="text" placeholder="Type kot">
            <input class="add-room-input" type="text" placeholder="Adres">
            <input class="add-room-input" type="text" placeholder="Oppervlakte">
            <input class="add-room-input" type="text" placeholder="Beschrijving">
            <p>Foto's</p>
            <button class="add-room-picture" data-upload-button>
                <img src="src/images/add-picture.png" alt="">
            </button>
            <a href="" id="add-room-submit">Kot plaatsen</a>
        </div>
    </div>
{{> footer }}


