<!-- - - - - - - - - - - - - - - Messages page - - - - - - - - - - - - - - -->
<div class="wrapper-2" id="screenMessages">
{{> header }}
    <div class="content-lv">
        <div class="just-a-box-lv">
             {{!-- <div class="conversation-header"> --}}
                <h2 class="messages-page-title">Berichten</h2>
                <h5 class="message-person">Frankie Quataert</h5>
            {{!-- </div> --}}
             <div class="conversation-list">
                <div class="message-sender">
                    <p class="message-content">In tegenstelling tot wat algemeen aangenomen wordt is Lorem Ipsum niet zomaar willekeurige tekst. het heeft zijn wortels in een stuk klassieke latijnse literatuur uit 45 v.Chr. en is dus meer dan 2000 jaar oud. Richard McClintock,</p>
                </div>
                <div class="message-receiver">
                    <p class="message-content">In tegenstelling tot wat algemeen aangenomen wordt is Lorem Ipsum niet zomaar willekeurige tekst. het heeft zijn wortels in een stuk klassieke latijnse literatuur uit 45 v.Chr. en is dus meer dan 2000 jaar oud. Richard McClintock,</p>
                </div>
                <div class="message-sender">
                    <p class="message-content">In tegenstelling tot wat algemeen aangenomen wordt is Lorem Ipsum niet zomaar willekeurige tekst. het heeft zijn wortels in een stuk klassieke latijnse literatuur uit 45 v.Chr. en is dus meer dan 2000 jaar oud. Richard McClintock,</p>
                </div>
                <div class="message-receiver">
                    <p class="message-content">In tegenstelling tot wat algemeen aangenomen wordt is Lorem Ipsum niet zomaar willekeurige tekst. het heeft zijn wortels in een stuk klassieke latijnse literatuur uit 45 v.Chr. en is dus meer dan 2000 jaar oud. Richard McClintock,</p>
                </div>
            </div>
            <div class="conversation-reply">
                <input type="text" class="message-type-area" placeholder="Typ je bericht hier">
            </div>
        </div>
    </div>
{{> footer }}
</div>