{{> header }}
<div class="no-wrap">
    <form class="just-a-box-2">
        <h2>Nieuw kot toevoegen</h2>
        <input class="add-room-input" type="text" placeholder="Huurprijs" id="rentalPrice" required>
        <input class="add-room-input" type="text" placeholder="Waarborg" id="warrant" required>
        <input class="add-room-input" type="text" placeholder="Adres: straat huisnummer postcode stad" id="address"
            required>
        <input class="add-room-input" type="text" placeholder="Oppervlakte" id="surface" required>
        <select class="add-room-input" id="roomType" required>
            <option value="Type">Type</option>
            <option value="Kamer">Kamer</option>
            <option value="Studio">Studio</option>
            <option value="Appartement">Appartement</option>
        </select>
        <select class="add-room-input" placeholder="Aantal personen" id="numberOfPersons" required>
            <option value="Aantal personen">Aantal personen</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <select class="add-room-input" placeholder="Aantal verdiepingen" id="floors" required>
            <option value="Aantal personen">Aantal verdiepingen</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <select class="add-room-input" placeholder="Toilet" id="toilet" required>
            <option value="Toilet">Toilet</option>
            <option value="Privé">Privé</option>
            <option value="Gedeeld">Gedeeld</option>
            <option value="Niet aanwezig">Niet aanwezig</option>
        </select>
        <select class="add-room-input" placeholder="Douche" id="douche" required>
            <option value="Douche">Douche</option>
            <option value="Privé">Privé</option>
            <option value="Gedeeld">Gedeeld</option>
            <option value="Niet aanwezig">Niet aanwezig</option>
        </select>
        <select class="add-room-input" placeholder="Bad" id="bath" required>
            <option value="Douche">Bath</option>
            <option value="Privé">Privé</option>
            <option value="Gedeeld">Gedeeld</option>
            <option value="Niet aanwezig">Niet aanwezig</option>
        </select>
        <select class="add-room-input" placeholder="Keuken" id="kitchen" required>
            <option value="Keuken">Keuken</option>
            <option value="Privé">Privé</option>
            <option value="Gedeeld">Gedeeld</option>
            <option value="Niet aanwezig">Niet aanwezig</option>
        </select>
        <select class="add-room-input" placeholder="Bemeubeld" id="furnished" required>
            <option value="Bemeubeld">Bemeubeld</option>
            <option value="Ja">Ja</option>
            <option value="Neen">Neen</option>
        </select>
        <textarea rows="10" class="add-room-input" type="text" placeholder="Beschrijving" id="description" required></textarea>
        <input type="file" name="image" id="roomImage">
        <p id="fullImageName"></p>
        <p id="progress" style="display:none">Even geduld ... uw foto wordt verwerkt</p>
        <input type="submit" id="addRoomSubmit" value="Kot plaatsen">
    </form>
</div>
{{> footer-admin }}