<div class="wrapper-1" id="screenStart">
  <div class="container container-login cont-general">
      <h4>Ciao</h4>
      <h3 class="app-base-title">Falling in love with Ghent is easy.</h3>
      <div class="box">
          <input type="text" id="txtEmail" placeholder="Email" value="decoene.bruno@hotmail.com">
          <input type="password" id="txtPassword" placeholder="Password" value="decoene.bruno">
          <div id="message"></div>
          <a id="btnPasswordForgotten" class="btn btn-secondary" href="/password-reset" data-path>Password reset</a>
      </div>
      <div class="box">
          <a id="btnLogin" class="btn lighten-1">Log in</a>
          <a id="btnSignup" class="btn lighten-7" href="/signup-as" data-path>Sign up</a>
          <div id="message"></div>
      </div>
  </div>
</div>