<!-- - - - - - - - - - - - - - - Login screen - - - - - - - - - - - - - - -->
<div class="wrapper-1" id="screenStart">
  <div class="container container-login cont-general">
      <h4>Ciao</h4>
      <div class="box">
          <input type="text" id="txtEmail" placeholder="Email">
          <input type="password" id="txtPassword" placeholder="Password">
          <a id="btnPasswordForgotten" class="btn btn-secondary" href="/password-reset" data-path>Password reset</a>
      </div>
      <div class="box">
          <a id="btnLogin" class="btn lighten-1" href="/home-student" data-path>Log in</a>
          <a id="btnSignup" class="btn lighten-7" href="/signup-as" data-path>Sign up</a>
          <div id="message"></div>
      </div>
  </div>
</div>