<div class="wrapper-1" id="screenStart">
  <div class="container container-login cont-general">
      <h4>Ciao</h4>
      <div class="box">
          <input type="text" id="txtEmail" placeholder="Email">
          <input type="password" id="txtPassword" placeholder="Password">
          <a id="btnPasswordForgotten" class="btn btn-secondary">Password reset</a>
      </div>
      <div class="box">
          <a id="btnLogin" class="btn lighten-1">Log in</a>
          <a id="btnSignup" class="btn lighten-7" href="/signup-as" data-path>Sign up</a>
          <div id="message"></div>
      </div>
  </div>
</div>

    {{!-- Go to <a href="/about" data-path>About page</a><br />
    Go to <a href="/firebase" data-path>Firebase example page</a><br />
    Go to <a href="/mapbox" data-path>Mapbox example page</a><br /> --}}