{{> header }}
<div class="wrapper-1" id="screenStart">
  <div class="container container-login cont-general">
      <h4>Ciao</h4>
      <div class="box">
          <input type="text" id="txtEmail" placeholder="Email">
          <input type="password" id="txtPassword" placeholder="Password">
          <button id="btnPasswordForgotten" class="btn btn-secondary">Password reset</button>
      </div>
      <div class="box">
          <button id="btnLogin" class="btn lighten-1>">Log in</button>
          <button id="btnSignup" class="btn lighten-7>">Sign up</button>
          <div id="message"></div>
      </div>
  </div>
</div>
{{> footer }}
