<!-- - - - - - - - - - - - - - - Password reset screen - - - - - - - - - - - - - - -->
<div class="wrapper-1" id="screenPasswordReset">
    <div class="container container-login cont-general" id="startScreen">
        <h4>Ciao</h4>
        <div class="box">
            <h6 class="h6-main">Reset password</h6>
            <input type="text" id="txtEmail" placeholder="Email">
            <a id="btnPasswordReset" class="btn lighten-7>">Send email verification link</a>
        </div>
        <a href="#" class="page-arrow"><img src="src/images/page-arrow.svg" alt="arrow"></a>
    </div>
</div> 