<div class="wrapper-1" id="screenSignUpConfirm">
    <div class="container container-login cont-general" id="startScreen">
        <h4 class="small-app-title">Ciao</h4>
        <form class="box">
            <h6 class="h6-main">Your information</h6>
            <input type="text" id="txtFirstNameAd" placeholder="First name">
            <input type="text" id="txtLastNameAd" placeholder="Last name">
            <input type="text" id="txtAddressAd" placeholder="Address">
            <input type="text" id="txtTelAd" placeholder="Telephone">
            <input type="text" id="txtEmailAd" placeholder="Email">
            <input type="password" id="txtPasswordAd" placeholder="Password">
            <div id="message"></div>
            <input type="submit" id="btnSignupConfirm" class="btn lighten-7>">
        </form>
        <a href="#" class="page-arrow"><img src="src/images/page-arrow.svg" alt="arrow"></a>
    </div>
</div>