<!-- - - - - - - - - - - - - - - Sign up as admin form screen - - - - - - - - - - - - - - -->
<div class="wrapper-1" id="screenSignUpConfirm">
    <div class="container container-login cont-general" id="startScreen">
        <h4>Ciao</h4>
        <div class="box">
            <h6 class="h6-main">Your information</h6>
            <input type="text" id="txtFirstNameAd" placeholder="First name">
            <input type="text" id="txtLastNameAd" placeholder="Last name">
            <input type="text" id="txtAddressAd" placeholder="Address">
            <input type="text" id="txtEmailAd" placeholder="Email">
            <input type="password" id="txtPasswordAd" placeholder="Password">
            <a id="btnSignupConfirm" class="btn lighten-7>">Sign up</a>
        </div>
        <a href="#" class="page-arrow"><img src="src/images/page-arrow.svg" alt="arrow"></a>
    </div>
</div>