<!-- - - - - - - - - - - - - - - Sign up as student form screen - - - - - - - - - - - - - - -->
<div class="wrapper-1" id="screenSignUpConfirm">
    <div class="container container-login cont-general" id="startScreen">
        <h4>Ciao</h4>
        <form class="box">
            <h6 class="h6-main">Your information</h6>
            <input type="text" id="txtFirstNameSt" placeholder="First name" value="Marc">
            <input type="text" id="txtLastNameSt" placeholder="Last name" value="Marc">
            <input type="text" id="txtAddressSt" placeholder="Address" value="Marc">
            <input type="text" id="txtTelSt" placeholder="Telephone" value="Marc">
            <input type="text" id="txtEmailSt" placeholder="Email" value="marcsqd@gmail.com">
            <input type="password" id="txtPasswordSt" placeholder="Password" value="qoqsdjqsdoinq">
            <input type="text" id="txtEducationSt" placeholder="Education" value="Marc">
            <div id="message"></div>
            <input type="submit" id="btnSignupConfirm" class="btn lighten-7>">
        </form>
        <a href="#" class="page-arrow"><img src="src/images/page-arrow.svg" alt="arrow"></a>
    </div>
</div> 
