<div class="wrapper-1" id="screenSignUpType">
    <div class="container container-login cont-general" id="startScreen">
        <h4>Ciao</h4>
        <div class="box">
            <a id="btnSignupAsStudent" class="btn lighten-1>">Sign up as a student</a>
            <a id="btnSignupAsAdmin" class="btn lighten-7>">Sign up as a administrator</a>
        </div>
        <a href="#" class="page-arrow"><img src="src/images/page-arrow.svg" alt="arrow"></a>
    </div>
</div>
