<div class="wrapper-1" id="screenSignUpType">
    <div class="container container-login cont-general" id="startScreen">
        <div class="box">
            <a id="btnSignupAsStudent" class="btn lighten-1>" href="/signup-as-student" data-path>Sign up as a student</a>
            <a id="btnSignupAsAdmin" class="btn lighten-7>" href="/signup-as-admin" data-path>Sign up as a administrator</a>
        </div>
        <a href="/" data-path class="page-arrow"><img src="src/images/page-arrow.svg" alt="arrow"></a>
    </div>
</div>