<!-- - - - - - - - - - - - - - - Sign up form screen - - - - - - - - - - - - - - -->
<div class="wrapper-1" id="screenSignUpConfirm">
    <div class="container container-login cont-general" id="startScreen">
        <h4>Ciao</h4>
        <div class="box">
            <h6 class="h6-main">Your information</h6>
            <input type="text" id="txtFirstName" placeholder="First name">
            <input type="text" id="txtLastName" placeholder="Last name">
            <input type="text" id="txtAddress" placeholder="Address">
            <input type="text" id="txtEmail" placeholder="Email">
            <input type="text" id="txtPassword" placeholder="Password">
            <a id="btnSignupConfirm" class="btn lighten-7>">Sign up</a>
        </div>
        <a href="#" class="page-arrow"><img src="src/images/page-arrow.svg" alt="arrow"></a>
    </div>
</div>