{{> header }}
    <div class="content">
        <div class="just-a-box">
            <div class="toggleViews">
                <button id="toggleGameView">Game</button>
                <button id="toggleMapView">Map</button>
            </div>
            <h2>Beschikbare kamers in kaart</h2>
            <div id='map' style='height: 300px; border-radius: 10px;'></div>
        </div>
    </div>
{{> footer }}
