<!-- - - - - - - - - - - - - - - Messages page - - - - - - - - - - - - - - -->
<div class="wrapper-2" id="screenMessages">
{{> header }}
    <div class="content">
        <div class="just-a-box">
            <h2>Berichten</h2>

            <div class="messages-list">
                <div class="messages-list-img">
                    <h6 class="h6-message-name">Name</h6>
                </div>
                <div class="messages-list-text">
                    <h5 class="h5-messenger">Eveline Verstappen</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="messages-list">
                <div class="messages-list-img">
                    <h6 class="h6-message-name">Name</h6>
                </div>
                <div class="messages-list-text">
                    <h5 class="h5-messenger">Eveline Verstappen</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="messages-list">
                <div class="messages-list-img">
                    <h6 class="h6-message-name">Name</h6>
                </div>
                <div class="messages-list-text">
                    <h5 class="h5-messenger">Eveline Verstappen</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
    </div>
{{> footer }}
</div>