<!-- - - - - - - - - - - - - - - List view page - - - - - - - - - - - - - - -->
<div class="wrapper-2" id="screenListView">
{{> header }}
    <div class="content">
        <div class="detail-box">
            <h2>Vlaanderenstraat 20, 9000 Gent</h2>
            <div class="detail-list">
                <div class="detail-list-img">
                    <img src="src/images/kot-1.png" class="room-picture-list" alt="">
                </div>
                <div class="detail-list-text">
                    <h5 class="h5-room-type">Type: studio</h5>
                    <h6 class="h6-address">Locatie: Vlaanderenstraat 21, 9000 Gent</h6>
                    <p class="p-surface">Oppervlakte: 23 m2</p>
                    <p>Beschrijving:<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur iusto, enim perferendis velit animi in similique iure sint ducimus adipisci expedita blanditiis debitis laboriosam ab et nemo, cumque incidunt magnam.</p>
                </div>
            </div>
        </div>
    </div>
{{> footer }}
</div> 