<div class="wrapper-2" id="screenMessages">
{{> header }}
    <div class="content-lv">
        <div class="just-a-box-lv">
             {{!-- <div class="conversation-header"> --}}
                <h2 class="messages-page-title">Conversatie met</h2>
                <h5 class="message-person"></h5>
            {{!-- </div> --}}
             <div class="conversation-list">
                <div class="message-sender">
                    <p class="message-content"></p>
                </div>
            </div>
            <div class="conversation-reply">
                <input type="text" class="message-type-area" placeholder="Typ je bericht hier">
                <button id="sendMessage">Send</button>
            </div>
        </div>
    </div>
{{> footer }}
</div>