<!-- - - - - - - - - - - - - - - List view page - - - - - - - - - - - - - - -->
<div class="wrapper-2" id="screenListView">
{{> header }}
    <div class="content">
        <div class="just-a-box">
            <h2>Beschikbare kamers</h2>
            <div class="info-list">
                <div class="info-list-img">
                    <img src="src/images/kot-1.png" class="room-picture-list" alt="">
                </div>
                <div class="info-list-text">
                    <h5 class="h5-room-type">Studio</h5>
                    <h6 class="h6-address">Vlaanderenstraat 21, 9000 Gent</h6>
                    <p class="p-surface">23 m2</p>
                </div>
            </div>
            <div class="info-list">
                <div class="info-list-img">
                    <img src="src/images/kot-1.png" class="room-picture-list" alt="">
                </div>
                <div class="info-list-text">
                    <h5 class="h5-room-type">Studio</h5>
                    <h6 class="h6-address">Vlaanderenstraat 21, 9000 Gent</h6>
                    <p class="p-surface">23 m2</p>
                </div>
            </div>
            <div class="info-list">
                <div class="info-list-img">
                    <img src="src/images/kot-1.png" class="room-picture-list" alt="">
                </div>
                <div class="info-list-text">
                    <h5 class="h5-room-type">Studio</h5>
                    <h6 class="h6-address">Vlaanderenstraat 21, 9000 Gent</h6>
                    <p class="p-surface">23 m2</p>
                </div>
            </div>
        </div>
    </div>
{{> footer }}
</div> 