<!-- - - - - - - - - - - - - - - Home page - - - - - - - - - - - - - - -->
{{> header }}
    <div class="content">
        <div class="just-a-box">
            {{!-- <a href="/student-listview" data-path class="fixed-anchor"><img src="src/images/list-view.svg" alt=""></a>
            <h2>Beschikbare kamers</h2>
            <div class="info-block">
                <img src="src/images/kot-1.png" class="room-picture" alt="">
                <h5 class="h5-room-type">Studio</h5>
                <h6 class="h6-address">Vlaanderenstraat 21, 9000 Gent</h6>
                <p>23 m2</p>
            </div>
            <div class="judge-block">
                <a href=""><img src="src/images/skip.svg" class="judge-icons" alt=""></a>
                <a href=""><img src="src/images/like.svg" class="judge-icons" alt=""></a>
            </div> --}}
        </div>
    </div>
{{> footer }}


