// - - - - - - colors - - - - - - - 
$color-black: #000;
$color-white: #fff;
$color-blue: #03B8FA;
$color-lightblue: #03B8FA;
$color-darkblue: #051E7F;
$color-none: rgba(245, 245, 245, 0);
$color-pink: #FB1C4E;
$color-lightgrey: rgb(165, 165, 165);
$background-gradient: linear-gradient(to bottom, #02b4f5, #008fdd, #0069c2, #0045a3, #051e7f);
$background-gradient: linear-gradient(to bottom, #74EEF3, #002CD8);
$color-lighter-grey: rgb(247, 247, 247);
$color-border-grey: rgb(231, 231, 231);

