// margin 
$btn-top-margin: 40px;
$main-top-margin: 50px;
$main-bottom-margin: 50px;
$small-top-margin: 10px;
$center: margin 0 auto;

// padding
$main-form-padding: 50px;

//border radius
$main-border-radius: 7px;

//fonts
// $script-font: 'Indie Flower', cursive;
// $script-font: 'Nothing You Could Do', cursive;
$script-font: 'Nothing You Could Do', cursive;
$page-arrow-size: 30px;
$page-arrow-weight: 100;

