@import 'abstracts/variables';
@import 'abstracts/colors';

// - - - - - - footer - - - - - - 
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: $color-lighter-grey;
    border-radius:10px 10px 0px 0px;
    box-shadow: 0px 0px 20px #cacaca;
    z-index: 10;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
    width: 85%;  
}

.footer-links a {
    // padding: 3px;
    z-index: 30;
}
