@import 'abstracts/variables';
@import 'abstracts/colors';

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    max-height: 100px;
}

.header-top {
    width: 100%;
    min-height: 100px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-lightblue;
}

.make-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height:30px;
    background-color: rgb(247, 247, 247);
    border-radius: 50px;
}

.make-circle > img {
    width: 12px;
}

.header-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 0px 30px;
    background-color: $color-white;
}