@import 'abstracts/variables';
@import 'abstracts/colors';


// view control
// #screenSignUpType,
// #screenSignUpConfirm,
// #screenPasswordReset,
// #screenHomePage,
// #screenListView,
// #screenMessages {
//     display: none;
// }


// - - - - - containers login  - - - - - -
.wrapper-1, .wrapper-2 {
    // max-width: 519px;
    min-height: 100vh;
}

.wrapper-1 {
    background-image: $background-gradient;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

.cont-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $main-border-radius;
    justify-content: center;
    height: 100vh;
}

#message2 {
    margin-left: 0;
    color: $color-lightgrey;
}

#message {
    margin-top: $small-top-margin;
    color: $color-pink;
}


// - - - - - Containers homepage  - - - - - -
#homePage {
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.just-a-box {
    max-width: 75%;
    margin-top: 120px;
    height: 100vh;
}

.just-a-box img {
    width: 30px;
}

.info-block img {
    border-radius: $main-border-radius;
}

.info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-lighter-grey;
    border-radius: $main-border-radius;
    padding-top: 5%;
}

.judge-block {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0px;
    align-items: center;
}

img.room-picture {
    width: 85%;
}

img.judge-icons {
    width: 20px;
}


// - - - - - containers listview  - - - - - -
.info-list {
    // display: flex;
    background-color: $color-lighter-grey;
    border-radius: $main-border-radius;
    margin-top: 20px;
    padding-left: 5%;
}

.info-list-img {
    display: inline-block;
    width: 30%;
    min-height: 100%;
}

img.room-picture-list {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: $main-border-radius;
}

.info-list-text {
    display: inline-block;
    width: 55%;
    margin-left: 10px;
}

h5.h5-room-type {
    font-size: 100%;
    font-weight: 600;
}

h6.h6-address {
    font-size: 95%;
    color: $color-blue;
    font-weight: 300;
}

p.p-surface {
    font-size: 80%;
}


// - - - - - messages listview  - - - - - -
.messages-list {
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid $color-border-grey;
    border-top: 0.5px solid $color-border-grey;
}

.messages-list-img {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: $color-lighter-grey;
    align-items: center;
    justify-content: center;
}

.messages-list-text {
    width: 50%;
    margin-left: 10px;
}

h6.h6-message-name {
    color: $color-lightblue;
    font-size: 90% !important;
    margin: 0;
}

h5.h5-messenger {
    color: $color-black;
    font-size: 90%;
}


// - - - - - forms - - - - - -
input {
    background-color: $color-white !important;
    height: 37px !important;
    width: 70% !important;
    border-radius: $main-border-radius !important;
    border: none !important;
    padding-left: 20px !important;
    margin: 10px 0px !important;
    transition: 0.2s ease-in-out !important;
}

input:focus {
    box-shadow: 0px 0px 0px $color-white !important;
    background-color: rgba($color-white, 0.8) !important;
    transition: 0.2s ease-in-out !important;
}


// - - - - - trivia - - - - - -
h1 {
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

h2 {
    font-size: 110% !important;
    font-weight: 700 !important;
    text-align: center;
}

h4 {
    font-family: $script-font;
    margin-bottom: 50px;
    color: $color-white;
    font-size: 500%;
}

h6.h6-main {
    color: $color-white;
    font-size: 80% !important;
    margin-top: 20px;
}

a.page-arrow {
    padding: 15px;
}

a.page-arrow:hover {
    opacity: 0.7;
}

a.page-arrow img {
    margin-top: $main-top-margin;
    height: 15px;
}

.header-top img {
    height: 20px; 
}

.nav-icons-bottom img{
    height: 20px;
}

footer {
    display: none;
    justify-content: center;
    margin-top: $small-top-margin;
}

#blogTitle {
    border: none !important;
}

.cke_chrome {
    border: none !important;
}