<div class="footer">
    <div class="footer-links">
        <a href="#/admin-listview" datapath class="nav-icons-bottom first-image-admin"></a>
        <a href="#/admin-home" data-path class="nav-icons-bottom second-image"></a>
        <a href="#/admin-messages" data-path class="nav-icons-bottom third-image"></a>
    </div>
</div>