<div class="footer">
    <div class="footer-links">
        <a href="#/student-favorites" datapath class="nav-icons-bottom first-image"></a>
        <a href="#/student-home" data-path class="nav-icons-bottom second-image"></a>
        <a href="#/student-messages" data-path class="nav-icons-bottom third-image"></a>
    </div>
</div>