{{!-- <section class="footer">
    <p>{{text}}</p>
</section> --}}

<div class="footer">
    <div class="footer-links">
        <a href="#" class="nav-icons-bottom"><img src="src/images/favorites.svg" alt="arrow"></a>
        <a href="/student-home" data-path class="nav-icons-bottom"><img src="src/images/home.svg" alt="arrow"></a>
        <a href="/student-messages" data-path class="nav-icons-bottom"><img src="src/images/messages.svg" alt="arrow"></a>
    </div>
</div>