{{!-- <section class="header">
    <h2>{{title}}</h2>
</section> --}}

<div class="header">
    <div class="header-top">
        <div class="make-circle"><img src="src/images/profile.svg" alt=""></div>
        <h6 class="h6-main">decoene.bruno@hotmail.com</h6>
    </div>
    <div class="header-bottom">
        <a class="btnLogout" class="btn lighten-7>">Sign out</a>
    </div>
</div>

