@import 'abstracts/variables';
@import 'abstracts/colors';


// - - - - - start containers login  - - - - - -
.wrapper-1, .wrapper-2 {
    min-height: 100vh;
}

.wrapper-1 {
    background-image: $background-gradient;
}

.box {
    @include flex-column;
    width: 100%;
}

.cont-general {
    height: 100vh;
    @include flex-column;
}

#message2 {
    margin-left: 0;
    color: $color-lightgrey;
}

#message {
    margin-top: $small-top-margin;
    color: $color-pink;
}


// - - - - - student homepage  - - - - - -
.content {
    @include flex-column;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.just-a-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100vh;
}

.center-all {
    @include flex-column;
}

.toggleViews {
    @include flex-row;
}

#toggleGameView, #toggleMapView {
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 3px rgb(233, 233, 233);
    border: none !important;
    margin: 0px 10px;
    font-size: 80%;
    color: $color-lightgrey;
    transition: all 0.2s ease-in-out;
}

#toggleGameView:hover, #toggleMapView:hover {
    color: #000;
    cursor: pointer;
    flex-grow: 0.05;
    transition: all 0.2s ease-in-out;
}

#toggleGameView:focus, #toggleMapView:focus {
    outline: none;
}

.image-block {
    width: 60%;
    position: relative;
    z-index: -20;
}

.image-block:after {
    content: "";
    display: block;
    padding-bottom: 100%;  
}

.image-block img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: fill;
    border-radius: $main-border-radius;
}

.info-block {
    @include flex-column;
    padding: 0px 30px;
    box-shadow: 0px 2px 3px rgb(233, 233, 233);
    border-radius: $main-border-radius;
    max-width: 90%;
    background-color: $color-white;
    z-index: 20;
}

h5.card-room-type {
    font-size: 80%;
    font-weight: 600;
}

h6.card-address {
    font-size: 80%;
    color: $color-lightgrey;
    font-weight: 300;
    margin-top: 0;
}

p.card-surface {
    font-size: 80%;
    margin-top: 0;
}

.judge-block {
    @include flex-row;
    border-radius: $main-border-radius;
    max-width: 90%;
    margin-top: 30px;
}

#likeBtn, #skipBtn {
    border-radius: $main-border-radius;
    padding: 7px 20px;
    font-size: 90%;
    border: none;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 900;
    margin: 0px 20px;
    transition: all 0.2s ease-in-out;
}

#likeBtn {
    background-color: #74EEF3;
}

#skipBtn {
    background-color: #FB1C4E;
}

#skipBtn:hover, #likeBtn:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}


.info-block img {
    border-radius: $main-border-radius;
}



// - - - - - student listview  - - - - - -

.content-lv {
    @include flex-column;
    margin-top: 100px;
}

.just-a-box-lv {
    width: 80%;
    margin-bottom: 80px;
}

.extra-box-margin  {
    margin-bottom: 80px;
}

h5.card-room-type-lv {
    font-size: 100%;
    text-transform: uppercase;
    color: #74EEF3;
    position: absolute;
    top: -40px;
    left: auto;
    padding: 10px 60px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px #e0e0e0;
}

h6.card-title-lv {
    font-size: 80%;
    color: $color-lightgrey;
    font-weight: 300;
    margin-top: 0;
    line-height: 18px;
}

p.width {
    background-image: url('../../src/images/ruler.svg');
    height: 20px;
    width: 20px;
    background-size: cover;
    background-position: center;
}

p.distance {
    background-image: url('../../src/images/distance.svg');
    height: 20px;
    width: 20px;
    background-size: cover;
    background-position: center;
}

p.price {
    background-image: url('../../src/images/euro.svg');
    height: 20px;
    width: 20px;
    background-size: cover;
    background-position: center;
}

p.card-values-lv {
    font-size: 80%;
    color: $color-lightgrey;
}

.info-list {
    @include flex-row;
    box-shadow: 0px 7px 17px #e0e0e0;
    border-radius: $main-border-radius;
    margin-top: 80px;
    padding: 20px 10px;
    position: relative;
    flex: 1;
    transition: 0.2s ease-in-out;
}

.info-list:hover {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 0px #fff;
    transform: scale(1.04);
}

.info-list:hover {
    flex-grow: 2;
}

.info-list-img {
    display: inline-block;
    height: 100%;
}

img.room-picture-list {
    display: inline-block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100px;
}

.info-list-text {
    width: 70%;
    margin: 20px 0px 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 20px;
    justify-content: space-between;
}

@media only screen and (min-width: 600px) {
    .info-list{
        flex-direction: column;
    }

    .info-list-img {
        width: 90%;
        height: 100%;
        display: flex;
        margin-top: 20px;
    }

    img.room-picture-list {
        display: inline-block;
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
    }
  }

// - - - - - - room detail view - - - - - - 
.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 80px auto;
}

.content-wrapper-2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 50px auto;
}

h5.property-title {
    font-size: 80%;
    font-weight: 700;
    margin-top: 30px;
    text-transform: uppercase;
}

div.room-properties {
    margin-right: auto;
}

span.property-info {
    font-weight: 300;
    color: $color-lightgrey;
    margin-left: auto;
    display: block;
    border-top: 1px solid $color-lighter-grey;
    margin-top: 10px;
    padding-top: 10px;
    text-transform: none;
}

p.room-description {
    font-size: 80%;
    color: $color-lightgrey;
}

.room-image-block {
    width: 100%;
    position: relative;
    height: 140px;
    margin-bottom: 20px;
}

.room-image-detail {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 3px;
}

@media only screen and (min-width: 600px) {
    .room-image-block{
        height: 300px;
    }
  }

.contact-owner {
    @include flex-row;
    border-radius: 7px;
    margin-top: 30px;   
}

#messageToOwner {
    padding: 10px 30px;
    color: $color-greenblue;
    font-size: 80%;
    font-weight: 700;
    border-radius: 80px;
    transition: 0.2s ease-in-out;
    border: 1px solid $color-greenblue !important;
}

#messageToOwner:hover {
    background-color: $color-greenblue;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: $color-white;
}

#messageToOwner:focus {
    outline: none !important;
}

#addToFavorites {
    transition: ease-in-out 0.2s;
    color: #FFB100;
    margin: 0px 25px;
    border: none;
    outline: none;
    font-size: 18px;
}

#addToFavorites:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
    opacity: 0.8;
}

.fas .fa-star   {
    font-size: 100%;
}

// - - - - - student messages - - - - - -
.messages-list {
    @include flex-column;
    margin-top: 20px;
}

.messages-list-text {
    box-shadow: 0px 6px 22px #e2e2e2;
    border-radius: $main-border-radius;
    padding: 5px 20px;
    min-width: 60%;
    text-align: center;
}

h5.message-person {
    font-size: 80%;
    font-weight: 600;
    color: $color-greenblue;
    text-align: center;
}

p.message-content {
    font-size: 70%;
}

p.message-timestamp {
    font-size: 80%;
}


// - - - - - student messages detail- - - - - -
.conversation-list {
    margin-top: 20px;
    margin-bottom: 130px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: -5;
}

.message-sender, .message-receiver {
    box-shadow: 0px 6px 22px #e2e2e2;
    border-radius: 15px;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 20px;
}

.message-receiver {
    background-color: $color-lighter-grey;
    margin-left: auto;
}

.conversation-reply, .conversation-header {
    @include flex-column;
    background-color: $color-white;
    position: fixed;
    left: 0;
    right: 0;
    padding-bottom: 15px;
}

.conversation-reply {
    bottom: 6%;
}

.conversation-header {
    top: 6%;
}

#sendMessage, #sortByDistance {
    display: block;
    border: 1px solid $color-greenblue;
    border-radius: 20px;
    padding: 5px 20px;
    color: $color-greenblue;
    font-size: 80%;
    transition: 0.2s ease-in-out;
}

#sortByDistance {
    margin: 30px auto;
}

#sendMessage:hover, #sortByDistance:hover {
    background-color: $color-greenblue;
    color: $color-white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

input.message-type-area {
    border: 0.5px solid $color-greenblue !important;
    border-radius: 30px !important;
    display: flex;
    margin: 20px auto !important;
    height: 28px !important;
    font-size: 70% !important;
}


// - - - - - admin home view  - - - - - -
.just-a-box-2 {
    @include flex-column;
    margin: 90px 0px 120px;
    width: 100%;
}

button.add-room-picture {
    @include flex-row;
    border: 1px solid $color-lighter-grey;
    border-radius: $main-border-radius;
    padding: 30px;
}

button.add-room-picture:hover {
    background-color: $color-lighter-grey;
    cursor: pointer;
}

button.add-room-picture img {
    width: 40px;
}

// - - - - - forms - - - - - -
input, textarea, select {
    background-color: $color-white !important;
    // height: 30px !important;
    width: 70% !important;
    border-radius: $main-border-radius !important;
    border: none !important;
    padding: 10px 0px 10px 20px !important;
    display: block;
    transition: 0.2s ease-in-out !important;
    margin-top: 10px !important;
}

// input.add-room-input {
//     border: 1px solid $color-blue !important;
//     border-radius: $main-border-radius !important;
// }

input.edit-room-input, input.add-room-input, select {
    border-bottom: 1px solid $color-blue !important;
    border-radius: 0px !important;
}

#editRoom {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

input:placeholder, textarea:placeholder, select:placeholder {
    color: blue; 
}

select {
    outline: none !important;
    padding: 10px 0px !important;
    margin-top: 20px !important;
    color: $color-lightgrey;
}

input:focus {
    box-shadow: 0px 0px 0px $color-white !important;
    background-color: rgba($color-white, 0.8) !important;
    transition: 0.2s ease-in-out !important;
}

input#addRoomSubmit, #editRoomSubmit, #btnEditRoom {
    border: 1px solid #2265DF !important;
    padding: 10px 0px !important;
    background-color: #2265DF !important;
    color: $color-white !important;
    font-size: 80%;
    font-weight: 700;
    border-radius: 50px !important;
    transition: 0.2s ease-in-out;
    margin-top: 40px !important;
    width: 50% !important;
}

#btnEditRoom {
    width: 100% !important;
    padding: 10px 40px !important;
}

input#addRoomSubmit:hover, #editRoomSubmit:hover, #btnEditRoom:hover {
    cursor: pointer;
    color: $color-blue !important;
    background-color: $color-white !important;
    transition: 0.2s ease-in-out;
}

// input#roomImage {
//     height: 100px;
//     width: 100px;
//     background-image: url('../../src/images/imageUpload.svg');
//     background-size: cover;
//     background-position: center;
// }

// - - - - - trivia - - - - - -
h1 {
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

h2 {
    font-size: 90% !important;
    font-weight: 700 !important;
    text-align: center;
}

h2.messages-page-title {
    margin-top: 0 !important;
}

h3.app-base-title {
    font-size: 90%;
    color: #fff;
    font-family: "Lato", sans-serif;
    margin-top: 0px;
    margin-bottom: 100px;
}

h4 {
    font-family: $script-font;
    color: $color-white;
    font-size: 350%;
}

h6.h6-main {
    font-size: 65% !important;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: $color-white;
}

h4.small-app-title {
    font-size: 200%;
}

div.mapboxgl-popup-content {
    border-bottom: 1px solid $color-lighter-grey;
    background-color: $color-lighter-grey;
    border-radius: $main-border-radius;
    font-weight: 600;
}

p.mapbox-pop-up-title {
    color: $color-blue;
    border-bottom: 1px solid $color-lighter-grey;
    font-weight: 200;
}

a.page-arrow {
    padding: 15px;
}

a.page-arrow:hover {
    opacity: 0.7;
}

a.page-arrow img {
    margin-top: $main-top-margin;
    height: 15px;
}

.header-top img {
    height: 20px; 
}

.nav-icons-bottom img{
    height: 20px;
}

footer {
    display: none;
    justify-content: center;
    margin-top: $small-top-margin;
}

// #blogTitle {
//     border: none !important;
// }

// .cke_chrome {
//     border: none !important;
// }